:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 196, 199, 202;
  --color-neutral-100: 185, 189, 193;
  --color-neutral-200: 163, 168, 174;
  --color-neutral-300: 141, 148, 154;
  --color-neutral-400: 120, 128, 135;
  --color-neutral-500: 101, 107, 114;
  --color-neutral-600: 74, 79, 84;
  --color-neutral-700: 48, 51, 54;
  --color-neutral-800: 22, 23, 24;
  --color-neutral-900: 0, 0, 0;
  --color-neutral-950: 0, 0, 0;

  /* Violet */
  --color-primary-50: 245, 243, 255;
  --color-primary-100: 237, 233, 254;
  --color-primary-200: 221, 214, 254;
  --color-primary-300: 196, 181, 253;
  --color-primary-400: 167, 139, 250;
  --color-primary-500: 139, 92, 246;
  --color-primary-600: 124, 58, 237;
  --color-primary-700: 109, 40, 217;
  --color-primary-800: 91, 33, 182;
  --color-primary-900: 76, 29, 149;

  /* Fuchsia */
  --color-secondary-50: 253, 244, 255;
  --color-secondary-100: 250, 232, 255;
  --color-secondary-200: 245, 208, 254;
  --color-secondary-300: 240, 171, 252;
  --color-secondary-400: 232, 121, 249;
  --color-secondary-500: 217, 70, 239;
  --color-secondary-600: 192, 38, 211;
  --color-secondary-700: 162, 28, 175;
  --color-secondary-800: 134, 25, 143;
  --color-secondary-900: 112, 26, 117;
}
