:root {
  --color-neutral: 255, 255, 255;

  /* Gray */
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 244, 244, 245;
  --color-neutral-200: 255, 255, 255;
  --color-neutral-300: 220, 220, 220;
  --color-neutral-400: 161, 161, 170;
  --color-neutral-500: 113, 113, 122;
  --color-neutral-600: 64, 73, 88;
  --color-neutral-700: 47, 54, 65;
  --color-neutral-800: 30, 34, 41;
  --color-neutral-900: 13, 14, 17;

  /* Violet */
  --color-primary-50: 255, 255, 255;
  --color-primary-100: 255, 255, 255;
  --color-primary-200: 244, 240, 252;
  --color-primary-300: 197, 177, 239;
  --color-primary-400: 149, 113, 227;
  --color-primary-500: 86, 106, 217;
  --color-primary-600: 85, 37, 185;
  --color-primary-700: 69, 30, 151;
  --color-primary-800: 54, 23, 117;
  --color-primary-900: 38, 17, 83;

  /* Fuchsia */
  --color-secondary-50: 255, 255, 255;
  --color-secondary-100: 255, 255, 255;
  --color-secondary-200: 255, 255, 255;
  --color-secondary-300: 243, 251, 255;
  --color-secondary-400: 110, 211, 255;
  --color-secondary-500: 90, 200, 255;
  --color-secondary-600: 49, 186, 255;
  --color-secondary-700: 8, 173, 255;
  --color-secondary-800: 0, 148, 223;
  --color-secondary-900: 0, 121, 182
}
